{% extends "layout.html" %}
{% block content %}    
        <!-- Page Header-->
        <header class="masthead md-0" style="background-image: url(' {{ url_for('static',filename='assets/img/home-bg.jpg') }} ')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Admin Settings for Managing Posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">      
              {{ message }}
              <button type="button" class="close" data-dismissible="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
        {% endif %}
      {% endwith %}

        
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Basic Actions</h1>
                <a href="/edit/0"><button class="btn btn-primary">Add New Post</button></a>
                <a href="/logout"><button class="btn btn-primary">Logout</button></a>
                
                <hr>
                <h1>Upload A file</h1>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                  <input type="file" name="file1"/>
                  <button class="btn btn-primary" type="submit">Submit</button> 
                </form>
                <hr>
                <h1>Edit Posts</h1>    
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            <th scope="col">View Post</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                          <tr>    
                            <td>{{post[0]}}</td>
                            <td>{{post[1]}}</td>
                            <td>{{post[-3]}}</td>
                            <td>{{post[-2]}}</td>
                            <td><a href="/edit/{{post[0]}}"<button class="btn btn-primary">Edit</button></a></td>
                            <td><a href="/delete/{{post[0]}}"<button class="btn btn-primary">Delete</button></a></td>
                            <td><a href="/post/{{post[0]}}"<button class="btn btn-primary">View</button></a></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                   
                </div>
            </div>
        </div>
        
{% endblock %}        